
.card {
    width: 200px;
    height: 200px;
    display: inline-block;
    perspective: 1000px;
    margin: 5px;
}

.image {
    width: 200px;
    height: 200px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner,
.card-back {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
